# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
nose2-junit.xml
coverage.xml
*.cover
htmlcov/

# Django stuff:
*.log
localdb/
db.sqlite3
media/

# PyCharm
.idea/

# VS Code
.vscode/

# Env
env/
venv/
ENV/
venv.bak/

# OS files
Thumbs.db
.DS_Store

# Sensitive
.env

# Git LFS
.gitattributes
